.slick-slide {
  transition: opacity 0.5s ease;
}

.custom-slider-Test .slick-slide:not(.slick-center) {
  opacity: 0.4;
}

.slick-center {
  opacity: 1 !important;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}
